<div layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-whiteframe="4">
          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
          </md-toolbar>
          <md-content layout-padding>
              <md-list ng-cloak>
                  <md-list-item ng-click="vm.collectionPage()">
                      <md-icon md-svg-icon="img/icons/collection.svg"></md-icon>
                      <p> My collection </p>
                  </md-list-item>
                  <md-divider></md-divider>
              </md-list>
          </md-content>
        </md-sidenav>
        <md-content flex layout-padding style="margin-top: 65px;">
            <md-tabs md-selected="tabIndex" md-dynamic-height md-border-bottom>
                <md-tab ng-click="vm.setTab(0)" label="Now Playing">
                    <md-content class="md-padding">
                        <movies category="now_playing" index='categoryIndex.nowPlaying' addcollection="addCollection"></movies>
                    </md-content>
                </md-tab>
                <md-tab ng-click="vm.setTab(1)" label="Popular">
                    <md-content class="md-padding">
                        <movies category="popular" index='categoryIndex.popular' addcollection="addCollection"></movies>
                    </md-content>
                </md-tab>
                <md-tab ng-click="vm.setTab(2)" label="Top Rated">
                    <md-content class="md-padding">
                        <movies category="top_rated" index='categoryIndex.topRate' addcollection="addCollection"></movies>
                    </md-content>
                </md-tab>
                <md-tab ng-click="vm.setTab(3)" label="Upcoming">
                    <md-content class="md-padding">
                        <movies category="upcoming" index='categoryIndex.upComing' addcollection="addCollection"></movies>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</div>