
<section layout="row" flex>
    <div class="info-container" layout="column">
        <div class="info-card">
            <md-card class="info-poster">
                <img ng-src="{{vm.info.poster_path?'http://image.tmdb.org/t/p/w300'+vm.info.poster_path:'img/pic/NoImage.jpg'}}" class="md-card-image" alt="Washed Out">
            </md-card>
            <div class="right-card">
                <div>
                    <div class="top-card">
                        <span class="md-headline">
                            {{vm.info.tagline}}
                        </span>
                        <h5>IMDB rating: {{vm.info.imdbRating}} rated by {{vm.info.ratedByUsers}} people</h5>
                        <h5>Release data: {{vm.info.release_date}}</h5>
                        <h5>Runtime: {{vm.info.runtime}} minutes</h5>
                        <h5>Original language: {{vm.info.original_language}}</h5>
                        <h5 style="display: inline;"><p style="float: left; display: inline; padding-top: 15px">Genre:</p></h5>
                        <md-chips style="float: left">
                            <md-chip ng-repeat="genre in vm.info.genres">
                                {{genre.name}}
                            </md-chip>
                        </md-chips>
                    </div>
                </div>
                <div>
                </div>
                <md-content class="description" flex layout-padding>
                    <p style="padding-left: 5px">Storyline: {{vm.info.overview}}</p>
                </md-content>
            </div>
        </div>
        <div class="video-list">
            <span style="display: inline-block;" class="md-headline">
                Videos
            </span>
            <div layout='row'>
                <div ng-click="vm.openPlayer(video.link)" style="position: relative;" ng-repeat="video in vm.info.videos">
                    <picture>
                        <source srcSet='{{"https://i.ytimg.com/vi/"+video.id+"/mqdefault.jpg"}}' media="(min-width:991px)" />
                        <source srcSet='{{"https://i.ytimg.com/vi/"+video.id+"/hqdefault.jpg"}}' media="(min-width:767px)" />
                        <source srcSet='{{"https://i.ytimg.com/vi/"+video.id+"/sddefault.jpg"}}' />
                        <img class="video-card" srcSet />
                    </picture>
                    <img class="play-button" src="../img/pic/play.png" />
                    <div class="video-description">
                        <p>{{video.title | limitTo: 40}}...</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.shouldShowtime" class="theaters">
            <span style="display: inline-block;" class="md-headline">
                Showtime
            </span>
            <div style="margin-left: 20px" layout="row">
                <md-content>
                    <h4>Date</h4>
                    <md-datepicker style="float: left" ng-model="vm.date.currentDate" md-placeholder="Enter date"
                                   md-min-date="vm.date.minDate" md-max-date="vm.date.maxDate"></md-datepicker>
                    <md-list ng-if="vm.info.theaters.length > 0" class="md-dense" flex style="width: 100%; clear: both; margin-top: 100px">
                        <md-list-item  class="md-3-line" style="justify-content: space-between;" ng-repeat="theater in vm.info.theaters">
                            <div class="theater-card">
                                <b style="display: block">{{theater.name}}</b>
                                <img style="float: left" class="md-avatar" ng-src="../img/icons/phone.svg" />
                                <div style="float: left" class="md-list-item-text">
                                    <p> {{theater.phoneNumber}} </p>
                                </div>
                            </div>
                            <div class="showtime" layout="row">
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="movie in theater.movie">
                                        <th>{{movie.name}}</th>
                                        <td ng-repeat="time in movie.showtimes"><p style="display: block">{{time}}</p> <img ng-if="movie.showtime_tickets[time]" ng-click="vm.buyTicket(movie.showtime_tickets[time])" style="width: 50px; height: 20px" ng-src="../img/pic/ticket.png" /></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
            <map ng-if="vm.location.lati" location="vm.location" theaters="vm.info.theaters"></map>
        </div>
        <div class="cast">
            <span style="display: inline-block;" class="md-headline">
                Credit
            </span>
            <div ng-cloak layout-gt-sm="row" layout="column">
                <div flex-gt-sm="50" flex>
                    <md-toolbar layout="row" class="md-hue-3">
                      <div class="md-toolbar-tools">
                        <span>Crew</span>
                      </div>
                    </md-toolbar>
                    <md-content>
                        <md-list flex>
                            <!-- <md-subheader class="md-no-sticky">Crew</md-subheader> -->
                            <md-list-item class="md-3-line" ng-repeat="crew in vm.info.credit.crew | limitTo: 10" ng-click="vm.showPerson(crew)">
                              <img ng-src="{{crew.profile_path?'https://image.tmdb.org/t/p/w132_and_h132_bestv2/'+crew.profile_path:'../img/pic/avatar.png'}}" class="md-avatar" />
                              <div class="md-list-item-text" layout="column">
                                <h4>department: {{crew.department}}</h4>
                                <p>name: {{crew.name}}</p>
                              </div>
                            </md-list-item>
                        </md-list>  
                    </md-content>
                </div>
                <div flex-gt-sm="50" flex>
                    <md-toolbar layout="row" class="md-hue-3">
                      <div class="md-toolbar-tools">
                        <span>Cast</span>
                      </div>
                    </md-toolbar>
                    <md-content>
                        <md-list flex>
                            <!-- <md-subheader class="md-no-sticky">Cast</md-subheader> -->
                            <md-list-item class="md-3-line" ng-repeat="cast in vm.info.credit.cast | limitTo: 10" ng-click="vm.showPerson(cast)">
                              <img ng-src="{{cast.profile_path?'https://image.tmdb.org/t/p/w132_and_h132_bestv2/'+cast.profile_path:'../img/pic/avatar.png'}}" class="md-avatar" />
                              <div class="md-list-item-text" layout="column">
                                <h4>character: {{cast.character}}</h4>
                                <p>name: {{cast.name}}</p>
                              </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
    <md-sidenav flex class="md-sidenav-right md-whiteframe-4dp similiar" md-is-locked-open="$mdMedia('gt-md')" md-component-id="right">
        <h4 style="margin-top: 20px; margin-left: 20px">You may also like</h4>
        <md-divider ng-if="!$last"></md-divider>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="movie in vm.info.similar" ng-click="vm.loadSimilar(movie)">
                <img ng-src="{{movie.poster_path?'http://image.tmdb.org/t/p/w92'+movie.poster_path:'img/pic/NoImage.jpg'}}" class="md-card-image similar-movie" />
                <div class="md-list-item-text similar-summry" layout="column">
                    <h5>{{movie.title}}</h5>
                    <p>Rate: {{movie.vote_average}} by {{movie.vote_count}} people</p>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-sidenav>
</section>
