.info-container {
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 100%;
    display: flex;
}

.video-list {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.cast {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.theaters {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.avilableon {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.info-poster {
    width: 20%;
    float: left;
}

.top-card {
    margin-left: 20px;
    padding-top: 10px;
}

.right-card {
    width: 80%;
    position: relative;
}

.description {
    margin-right: 20px;
    position: absolute;
    bottom: 0;
}

.inlineText {
    float: left;
    padding-left: 10px;
}

.similiar {
    height: 100%;
}

.similar-movie {
    margin-top: 5px;
    margin-bottom: 5px;
}

.similar-summry {
    padding-left: 10px;
}

.video-card {
    width: 90%;
    margin: auto;
}

.video-card:hover {
    cursor: pointer;
}

.info-card {
    width: 100%;
    display: flex;
}

.play-button {
    opacity: 0.8;
    position: absolute;
    left: 30%;
    top: 20%; 
    width: 30%;
}

.video-description {
    background-color: rgba(0, 0, 0, 0.7);
    width: 90%;
}

.video-description p {
    color: white;
}

.theater-card {
    float: left;
    margin-right: 10px;
    width: 20%;
}

.showtime {
    float: left;
    width: 80%;
}

#map {
    height: 100%;
}

.collectionBtn {
    margin-right: 20px;
}

.collectionBtn:hover {
    cursor: pointer;
}