<div style="margin-top: 60px">
    <div class="registerHeader">
        <h2 class="register-h3">Register</h2>
    </div>
    <div>
        <div style="width: 30%; margin: auto">
            <form name="userForm">
                <div class="registergrouop">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input name="email" ng-model="user.email"
                               required ng-pattern="/^.+@.+\..+$/" />
                        <div style="color: #dd2c00" ng-show="userForm.email.$invalid && userForm.email.$dirty">
                            Please input a valid email address
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input type="password" name="password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/" required ng-model="user.password" />
                        <div class="hint" >Password should contain at least one digit, one lower case character, one upper case character, and at least 8 from above mentioned characters</div>
                        <div style="color: #dd2c00" ng-show="userForm.password.$invalid && userForm.password.$dirty">Your password doesn't match the criteria</div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Retype Password</label>
                        <input type="password" name="repassword" required ng-model="user.repassword" />
                        <div ng-show="userForm.repassword.$dirty && user.password != user.repassword" style="color: #dd2c00">Password doesn't match.</div>
                    </md-input-container>
                    <style>
                        /*
                         * The Material demos system does not currently allow targeting the body element, so this
                         * must go here in the HTML.
                         */
                        body[dir=rtl] .hint {
                            right: 2px;
                            left: auto;
                        }
                    </style>
                    <md-button ng-disabled="!userForm.$valid || user.password!=user.repassword" class="md-raised md-primary" style="width: 100%" ng-click="emailregister(user.email, user.password)">register</md-button>
                    <div ng-if="registerErrorMessage" style="color: #dd2c00">{{registerErrorMessage}}</div>
                </div>
            </form>
        </div>
    </div>
</div>