<div>
    <md-list ng-if="vm.channels.length > 0" class="md-dense" flex style="width: 100%; clear: both; margin-top: 10px">
        <md-list-item  class="md-3-line" style="justify-content: space-between;" ng-repeat="channel in vm.channels" ng-click="vm.redirect(channel.link)">
            <div class="channel-card">
                <img class="md-avatar" ng-src="{{'img/channels/'+channel.source+'.png'}}" />
                <p style="font-size: 10px">{{channel.display_name}}</p>
            </div>
            <div class="purchase-info" layout="row">
                <table>
                    <tbody>
                    <tr>
                        <td ng-repeat="info in channel.formats"><p style="display: block">{{info.price}}$</p><p>{{info.type}} {{info.format}}</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</div>