<div layout="column" layout-fill>
    <md-toolbar md-scroll-shrink="true" style="position: fixed; z-index: 100">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon ng-if="vm.state.currentPath.name == 'main.tabs'" md-svg-icon="img/icons/menu.svg"></md-icon>
                <md-icon ng-click="vm.statePop()" ng-if="vm.state.currentPath.name != 'main.tabs'" md-svg-icon="img/icons/back.svg"></md-icon>
            </md-button>
            <span>{{appName}}</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button ng-if="!vm.user && vm.state.currentPath.name != 'main.signin'" ng-click="vm.signinPage()">
                Sign in
            </md-button>
            <div class="fb-appbar-login-area">
                <md-menu class="fb-appear-menu">
                    <button class="fb-appear-btn md-button md-gmp-blue-theme md-ink-ripple" ng-click="$mdOpenMenu($event)">
                        <img ng-if="vm.user" style="width: 40px; margin-right: 50px; border-radius: 50%" ng-src="{{vm.user.photoURL}}" />
                        <div class="md-ripple-container"></div>
                    </button>
                    <md-menu-content>
                        <md-menu-item role="menuitem" style="height: 90px">
                            <div layout="row" class="logout">
                                <img ng-src="{{vm.user.photoURL}}" />
                                <div layout="column" style="flex-direction: column">
                                    <div class="logout-email">
                                        {{vm.user.email}}
                                    </div>
                                    <div class="logout-btn">
                                        <a ng-click="vm.logout()">SIGN OUT</a>
                                    </div>
                                </div>
                            </div>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>
    <div ui-view></div>
</div>