<div layout="column" layout-fill>
    <md-toolbar md-scroll-shrink="true">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon ng-if="vm.state.currentPath.name == 'main.tabs'" md-svg-icon="img/icons/menu.svg"></md-icon>
                <md-icon ng-click="vm.statePop()" ng-if="vm.state.currentPath.name != 'main.tabs'" md-svg-icon="img/icons/back.svg"></md-icon>
            </md-button>
            <span>{{appName}}</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button>
                Right Bar Button
            </md-button>
        </div>
    </md-toolbar>
    <div ui-view></div>
</div>